body {
  font-family: "Dosis", "Roboto Condensed", "Ubuntu Condensed", serif;
  font-size: 18px;
}

h1 { font-size: 48px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }



.title { 
  color: #ffd97d;
  font-weight: bold;
}

.subtitle {
  color: #fff;
  font-weight: bold;
}

.introduction-text {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
}



.introduction {
  margin: $spacing-unit * 2 auto;
  text-align: center;
}

