body {
  font-family: "Dosis", "Roboto Condensed", "Ubuntu Condensed", sans-serif;
  font-size: 18px;
}

h1 { font-size: 48px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }

h1,
h2,
h3 {
  line-height: 1.4;
}


.title { 
  color: #ffd97d;
  font-weight: bold;
}

.subtitle {
  color: #fff;
}

.introduction-text {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
}

.scroll-down {
  margin-top: $spacing-unit;
  color: #555;
  font-size: 13px;
}

.scroll-down:after {
  content: '➤';
  display: block;
  transform: rotate(90deg);
  color: #555;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: fadeInDown;
}





.introduction {
  max-width: 560px;
  margin: $spacing-unit * .75 auto;
  text-align: center;
}

@media (min-width: 750px) {
  .introduction {
    margin: $spacing-unit * 2 auto;
  }
}


.site-footer {
  position: relative;
  padding: $spacing-unit * 4 0;
  border: 0;
  color: #fff;
  text-align: center;

  a {
    color: #ffd97d;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: rotate(90deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 100%, 0) rotate(90deg);
  }
}
