.introduction {
  margin-bottom: 60vh;
}


#sky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 300vh;
  background-image: linear-gradient(-180deg, #268BD2 0%, #C5E0E8 21%, #F0F2E4 41%, #032833 82%);
}

#clouds,
#mountains,
#foreground {
  svg,
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: none;
  }
}

#mountains {
  position: fixed;
  right: 0;
  bottom: -60%;
  left: 0;
}

#clouds {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50vh;

  #cloud-1 {
    left: 10%;
    bottom: 60%;
  }

  #cloud-2 {
    left: 48%;
    bottom: 50%;
  }

  #cloud-3 {
    left: 65%;
    bottom: 60%;
  }
}

#content {
  position: relative;
  bottom: 0;
  padding: $spacing-unit;
  background: rgba(255,255,255,0.80);
  border: 1px solid #979797;
  border-radius: 4px;
}

#foreground {
  position: fixed;
  bottom: -60%;
  left: 0;
  right: 0;
}



// Z-INDEX
#sky { z-index: -1; }
#mountains { z-index: 10; }
#content { z-index: 20; }
#foreground { z-index: 30; }
.site-footer { z-index: 40; }

#hippie-van { z-index: 9; }
#road { z-index: 8; }
#hills { z-index: 7; }

#mountains-level-1 { z-index: 4; }
#mountains-level-2 { z-index: 3; }
#mountains-level-3 { z-index: 2; }
#mountains-level-4 { z-index: 1; }

